@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital@0;1&family=Saira+Extra+Condensed:wght@400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: "Saira Extra Condensed", sans-serif;
  color: #191917;
  letter-spacing: 0.008em;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.common-inner {
  width: 100%;
  max-width: 1790px;
  margin: 0 auto;
}

.header {
  color: #1e4aee;
  position: relative;
  z-index: 99;
}
.header > .inner {
  position: fixed;
  padding: 50px;
  width: 100%;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.15em;
  justify-content: space-between;
  transition: transform 0.5s 0.1s;
}
.header > .inner.hide {
  transform: translateY(-100%);
}
.header > .inner.active {
  background: rgba(250, 250, 250, 0.7);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #1e4aee;
}
.header > .inner .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header > .inner .logo .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 400;
}
.header > .inner .btn-menu {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #1e4aee;
  transition: transform 0.3s ease;
  z-index: 100;
}
.header > .inner .btn-menu:hover {
  transform: scale(3);
}
.header .group-menu {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  z-index: 99;
  display: flex;
}
.header .group-menu.active {
  right: 0%;
  z-index: 100;
}
.header .group-menu .menu-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(29, 29, 23, 0.7);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.header .group-menu .menu-area .close-wrap {
  flex-basis: 10%;
  background: rgba(0, 0, 0, 0);
}
.header .group-menu .menu-area .close-wrap .btn-close {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f8f8f4;
  transition: transform 0.3s ease;
  z-index: 100;
}
.header .group-menu .menu-area .close-wrap .btn-close:hover {
  transform: scale(3);
  background: #1e4aee;
}
.header .group-menu .menu-area .menu-wrap {
  flex-basis: 50%;
}
.header .group-menu .menu-area .menu-wrap .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .group-menu .menu-area .menu-wrap .menu-list .menu-item {
  font-size: 70px;
  font-style: italic;
  color: #f8f8f4;
  letter-spacing: 0.1em;
}
.header .group-menu .menu-area .menu-wrap .menu-list .menu-item .link-menu {
  display: block;
}
.header .group-menu .menu-area .menu-wrap .menu-list .menu-item .link-menu:hover {
  color: #1e4aee;
  opacity: 0.7;
}
.header .group-menu .menu-area .menu-wrap .menu-list .menu-item .link-menu > i {
  font-weight: 900;
}
.header .group-menu .menu-area .media-wrap {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8f8f4;
}
.header .group-menu .menu-area .media-wrap .link-media {
  font-size: 20px;
}

.footer {
  position: relative;
  background: #191917;
  color: #f8f8f4;
  padding: 3em 10em;
  z-index: 2;
}
.footer .footer-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-area p {
  font-weight: 900;
  letter-spacing: 2.5px;
  font-size: 20px;
}
.footer .footer-area p span:last-child {
  font-weight: 400;
  letter-spacing: 0;
}
.footer .footer-area .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
}

.circle {
  position: fixed;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  transform: translate(-10%, -10%);
  border-radius: 50%;
  background-color: #000;
  opacity: 0.7;
  z-index: 1000;
  pointer-events: none;
}
.circle.hide {
  opacity: 0;
}

.btn-more {
  position: relative;
  display: block;
  color: #bb8d8d;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.32em;
}
.btn-more em {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-size: 1.15em;
}

.main-wrap {
  position: relative;
}

main {
  text-align: center;
}

.sc-visual {
  position: relative;
  background-image: url(../images/sec1.jpg);
  color: #1e4aee;
  z-index: 3;
}
.sc-visual .common-inner {
  padding-top: 100px;
}
.sc-visual .common-inner .img-box {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  z-index: 1;
  max-width: 28%;
  margin: 0 auto;
}
.sc-visual .common-inner .img-box img {
  max-width: 100%;
  height: auto;
}
.sc-visual .common-inner .txt-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: -0.0033em;
}
.sc-visual .common-inner .txt-box .text {
  display: block;
  font-weight: 900;
  line-height: 0.85;
  font-size: 25vw;
}
.sc-visual .common-inner .txt-box .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 100;
  line-height: 0.9;
  z-index: 2;
  font-size: 21vw;
}
.sc-visual .sc-description {
  position: relative;
  color: #191917;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  top: -100px;
}
.sc-visual .sc-description .desc {
  text-align: center;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.sc-visual .sc-description .desc .underline {
  background-image: linear-gradient(#bb8d8d, #bb8d8d);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}
.sc-visual .sc-description .desc .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 0;
  font-style: italic;
  font-size: 26px;
}
.sc-visual .sc-description #hide-text {
  display: none;
  margin: 0 auto;
  padding-top: 70px;
}
.sc-visual .sc-description #hide-text .paragraph {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 2.5em;
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: 0.08em;
}
.sc-visual .sc-description .desc-more {
  width: 90%;
  text-align: center;
}

.sc-collection {
  position: relative;
  background: #f8f8f4;
  color: #191917;
  z-index: 2;
  height: 100vh;
}
.sc-collection .title {
  position: absolute;
  top: 10%;
  left: 15%;
  text-align: right;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.sc-collection .slide-num {
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-weight: 900;
  font-size: 55px;
  letter-spacing: 0.2em;
  -ms-writing-mode: tb;
      writing-mode: tb;
  z-index: 2;
}
.sc-collection .slide-num .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 400;
}
.sc-collection .swiper {
  height: 100%;
}
.sc-collection .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 50vw;
  padding: 0 50%;
}
.sc-collection .swiper-slide .img-wrap img {
  max-width: 480px;
  max-height: 480px;
}

.sc-collabo {
  position: relative;
  color: #f8f8f4;
  background: #b5cde8;
}
.sc-collabo .common-inner {
  padding-top: 10vh;
  padding-bottom: 30vh;
}
.sc-collabo .title {
  position: absolute;
  top: 10%;
  left: 55%;
  transform: translate(-2%, -55%);
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 400;
  font-size: 6vw;
  z-index: 21;
}
.sc-collabo .video-wrap {
  z-index: 20;
  position: relative;
  width: 30%;
  margin: 0 auto;
}
.sc-collabo .video-wrap .cursor-explore {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 1px solid #1e4aee;
  border-radius: 50%;
}
.sc-collabo .video-wrap .cursor-explore p {
  font-size: 25px;
}
.sc-collabo .video-wrap .cursor-explore p i {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}
.sc-collabo .video-wrap img {
  max-width: 100%;
  height: auto;
}
.sc-collabo .inner {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}
.sc-collabo .inner .subtitle {
  display: block;
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 400;
  font-size: 6vw;
  letter-spacing: 0.08em;
}
.sc-collabo .inner .subtitle:last-child {
  z-index: 22;
}

.sc-worth {
  display: flex;
  background: #f8f8f4;
}
.sc-worth .img-area {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 50%;
}
.sc-worth .img-area img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-worth .img-area .cursor-explore {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 1px solid #bb8d8d;
  border-radius: 50%;
}
.sc-worth .img-area .cursor-explore p {
  color: #f8f8f4;
  font-size: 25px;
}
.sc-worth .img-area .cursor-explore p i {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}
.sc-worth .content-area {
  width: 50%;
  padding: 0 3vw;
  flex: 1;
  background: #f8f8f4;
}
.sc-worth .content-area .title {
  text-align: left;
  font-size: 19vw;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 900;
  letter-spacing: 0.008em;
  line-height: 1.2em;
}
.sc-worth .content-area .title span {
  display: block;
  white-space: nowrap;
}
.sc-worth .content-area .text {
  text-align: left;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  margin: 12em 0;
}
.sc-worth .content-area .text .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
}
.sc-worth .content-area .desc {
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}
.sc-worth .content-area .link-concept {
  display: block;
  text-align: left;
  color: #bb8d8d;
  margin: 3em 0;
  font-weight: 500;
  font-size: 23px;
}
.sc-worth .content-area .link-concept .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}

.sc-lab {
  position: relative;
  color: #191917;
  z-index: 2;
  background-image: url(../images/sec1.jpg);
}
.sc-lab .lab-top {
  padding-top: 10em;
  margin-bottom: 4vw;
}
.sc-lab .lab-top .img-area {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  top: 20vh;
  width: 50%;
  margin: 0 auto;
  margin-top: 8vw;
  margin-bottom: -10vw;
}
.sc-lab .lab-top .img-area img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.sc-lab .lab-top .img-area .cursor-explore {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 1px solid #bb8d8d;
  border-radius: 50%;
}
.sc-lab .lab-top .img-area .cursor-explore p {
  color: #f8f8f4;
  font-size: 25px;
}
.sc-lab .lab-top .img-area .cursor-explore p i {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}
.sc-lab .lab-top .title {
  position: absolute;
  top: 5%;
  left: 20%;
  text-align: left;
  font-size: 10vw;
  font-weight: 800;
  letter-spacing: 0.008em;
  overflow: hidden;
  line-height: 1em;
}
.sc-lab .lab-top .title .sub-title {
  display: block;
  text-align: right;
  font-size: 2vw;
  font-weight: 800;
  letter-spacing: 0.008em;
  overflow: hidden;
  line-height: 1em;
}
.sc-lab .lab-bottom {
  overflow-x: hidden;
  padding: 25em 3em 0;
}
.sc-lab .lab-bottom .text {
  font-size: 25px;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}
.sc-lab .lab-bottom .text .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-weight: 400;
}
.sc-lab .lab-bottom .desc-area {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.05em;
  margin: 2em 0;
}
.sc-lab .lab-bottom .desc-area b {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
}
.sc-lab .lab-bottom .desc-area i {
  font-style: italic;
}
.sc-lab .lab-bottom .desc-area .right {
  text-align: right;
  display: block;
}
.sc-lab .lab-bottom .desc-area .left {
  text-align: left;
  display: block;
}
.sc-lab .lab-bottom .desc-area .left .italic {
  font-size: 26px;
  font-style: italic;
}
.sc-lab .lab-bottom .link-lab {
  display: block;
  text-align: center;
  color: #bb8d8d;
  margin: 7em auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
}
.sc-lab .lab-bottom .link-lab .italic {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}

.sc-sns {
  position: relative;
  background: #f8f8f4;
  height: 100vh;
}

.sc-sns .title {
  padding: 14vh 0 10vh;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.3em;
}

.sc-sns {
  height: auto;
}
.sc-sns .common-inner {
  max-width: 1000px;
}
.sc-sns .sns-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 20px;
}
.sc-sns .sns-flex .sns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
}
.sc-sns .sns-flex .sns img {
  width: 400px;
  height: 300px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-sns .sns-flex .sns .sns-title {
  padding: 10px 0 0 15px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.sc-sns .sns-flex .sns .sns-desc {
  padding-left: 15px;
  max-width: 400px;
  text-align: left;
}

.sc-articles {
  position: relative;
  background: #f8f8f4;
  height: 100vh;
}
.sc-articles .title {
  padding: 20vh 0 20vh;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.3em;
}
.sc-articles .articles {
  text-align: center;
  padding: 0 10vw;
}
.sc-articles .articles .link-articles {
  font-family: "Noto Serif Display", "Saira Extra Condensed", serif;
  font-weight: 400;
  line-height: 1.018em;
  letter-spacing: 0.036em;
  font-size: 3em;
}
.sc-articles .articles .link-articles .text {
  transition: color 0.3s;
}
.sc-articles .articles .link-articles .text i {
  font-style: italic;
}
.sc-articles .articles .link-articles .text:hover {
  color: #1e4aee;
}