body {
    font-family: $font-main;
    color: #191917;
    letter-spacing: 0.008em;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.common-inner {
    width: 100%;
    max-width: 1790px;
    margin: 0 auto;
}
