// Mouse Cursor drag
.circle {
    position: fixed;
    width: 15px; height: 15px;
    top: 0; left: 0;
    transform: translate(-10%, -10%);
    border-radius: 50%;
    background-color: #000;
    opacity: 0.7;
    z-index: 1000;
    pointer-events: none;
    &.hide {
        opacity: 0;
    }
}


// Menu BUTTON




// More Button
.btn-more {
    position: relative;
    display: block;
    color: #bb8d8d;
    margin: 0 auto;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.32em;

    em {
        font-family: $font-sub;
        font-style: italic;
        font-size: 1.15em;
    }
}
