.footer {
    position: relative;
    background: #191917;
    color: #f8f8f4;
    padding: 3em 10em;
    z-index: 2;
    .footer-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        p {
            font-weight: 900;
            letter-spacing: 2.5px;
            font-size: 20px;

            span:last-child {
                font-weight: 400;
                letter-spacing: 0;
            }
        }
        .italic {
            font-family: $font-sub;
            font-weight: 400;
            font-style: italic;
            font-size: 26px;
        }
    }
}
